out
dist
node_modules
.vscode-test/
*.vsix
.venv/
.vs/
.nox/
bundled/libs/
**/__pycache__
**/.pytest_cache
**/.vs

# I think these were fine to add, but if any issues occur, try removing them.
Lib/
Scripts/
